--------------------
Some math
--------------------
{% if x % 2 == 0 %}
x is even!
{% else %}
x is odd!
{% endif %}
--------------------
User list
--------------------
{% for user in users %}
{{ user }}
{% endfor %}
--------------------
User list in line
--------------------
{{ users | join(', ') }}
